<div class="<%= is_current_post ? "post-meta" : "post-simple-meta" %>">

  <%= link_to user_path(username: post.user.username), 
    data: { turbo: false },
    class: "post-user-name" do %>
    <%= post.user.name %>
    <%= render partial: "components/verified", locals: { verified: post.user.verified } %>
    <p class="post-user-username">@<%= post.user.username %></p>
  <% end %>

  <% if !is_current_post %>
  <p class="post-time">
    <% if view == :index %>
      <%= format_time_ago(post.created_at) %>
    <% else %>
      <%= post.created_at.strftime("%-I:%M %p · %-d %b. %Y") %>
    <% end %>
  </p>
  <% end %>

  <% if !is_parent_of_comment %>
    <div class='post-options' data-controller="menu-options">
      <button class="option-button" data-action="click->menu-options#show">
        <%= icon("fa-solid", "ellipsis-vertical") %>
      </button>
      <%= render partial: 'posts/options', locals: {post: post} %>
    </div>
  <% end %>

</div>
