<% if follow_context %>
  <% path = user_path(user) %>
<% else %>
  <% path = root_path %>
<% end %>

<div class="user-header">
  <%= link_to path, class: "icon-link" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <div>
    <div class="user-header-name">
      <%= user.name %>
      <%= render partial: "components/verified", locals: { verified: user.verified }%>
    </div>
    <div class="user-header-post-number">
      <% if follow_context %>
        @<%= user.username %>
      <% else %>
        <%= user.posts_number %> post
      <% end %>
    </div>
  </div>
</div>
