<div class="info-container">
  <% if current_user == user %>
    <%= 
      link_to "Edit Profile", 
      edit_user_registration_path, 
      class: "edit-profile-button", 
      data: { turbo_frame: "embedded" } 
    %>
  <% else %>
    <%= render partial: 'components/follow-button', locals: {user: user} %>
  <% end %>

    <div class="names-container">
      <h1 class="name-label">
        <%= user.name %>
      </h1>
      <h2 class="username-label">
        @<%= user.username %>
      </h2>
    </div>

    <div>
      <p class="user-bio-label">
        <%= user.biography %>
      </p>
    </div>

    <p class="created-date-label">
      <i class="fas fa-calendar-alt"></i>
      <%= user.created_date %>
    </p>

    <%= render partial: 'devise/registrations/components/follow-counters', locals: {user: user} %>
</div>
