<div class="info-container">

  <% if current_user == @user_profile.user %>

    <%= link_to "Edit Profile", 
      edit_user_registration_path, 
      data: { turbo_frame: "embedded" },
      class: "edit-profile-button 
        #{"hidden" unless current_user == @user_profile.user}" %>

  <% else %>
    <%= render partial: 'components/follow-button', locals: {user: @user_profile.user, componet_id: "user_info"} %>
  <% end %>

    <div class="names-container">
      <h1 class="name-label">
        <%= @user_profile.user.name %>
        <%= render partial: "components/verified", 
          locals: { verified: @user_profile.user.verified } %>
      </h1>
      <h2 class="username-label">
        @<%= @user_profile.user.username %>
      </h2>
    </div>

    <div>
      <p class="user-bio-label">
        <%= @user_profile.user.biography %>
      </p>
    </div>

    <p class="created-date-label">
      <i class="fas fa-calendar-alt"></i>
      <%= @user_profile.user.created_date %>
    </p>

  <%= render partial: 'devise/registrations/components/follow-counters',
    locals: { user: @user_profile.user } %>
</div>
