<div class="signup-view-container">

  <div class="form" data-controller="signup-avatar">

    <%= link_to "X", root_path, class: "form-close-button" %>

    <h2>Set your avatar</h2>

    <%= form_with(model: @user, method: :put, url: signup_set_avatar_path) do |form| %>

      <div class="field avatar-container" >

        <%= form.label :avatar , class: "avatar-label" do %>
          <i class="fa-solid fa-camera signup-camera"></i>
          <i class="fa-solid fa-cloud signup-avatar signup-avatar-icon" data-signup-avatar-target="icon"></i>
          <img src="#" class="signup-avatar hidden" data-signup-avatar-target="image"></img>
        <% end %>

        <%= form.file_field :avatar , class: "hidden-field" , data: { action: "signup-avatar#update" } %>

      </div>
      
      <div class="actions">
        <%= form.submit "Skip" , class: "submit-button" , data: { signup_avatar_target: "submit" } %>
      </div>

    <% end %>
  
  </div>

</div>
