<turbo-frame id="edit-frame">
  <div class="sigin-form">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
  
      <div class="field">
        <%= f.label :name %>
        <%= 
          f.text_field :name, 
          class: "input-form input-neutral" 
        %>
      </div>

      <div class="field">
        <%= f.label :biography %>
        <%= 
          f.text_field :biography, 
          class: "input-form input-neutral" 
        %>
      </div>
  
      <!-- <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %> -->
  
      <div class="field">
        <%= f.label :current_password %> 
        <%= 
          f.password_field :current_password, 
          autocomplete: "current-password",
          class: "input-form input-neutral"
        %>
      </div>
  
      <div class="actions">
        <%= f.submit "Update", class: "submit-button" %>
      </div>
    <% end %>
<!--   
    <h3>Cancel my account</h3>
  
    <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
  
    <%= link_to "Back", :back %> -->
  </div>
</turbo-frame>
