<div class="profile-view">
  <div class="images-container mb-4">
    <!-- Show user banner -->
    <% if @user.banner.attached? %>
      <%= image_tag(@user.banner, class: 'banner') %>
    <% end %>

    <!-- Show user avatar -->
    <div class="avatar-container">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar, class: 'avatar') %>
      <% end %>
    </div>
  </div>
  
  <!-- Show user info: name, username, bio, join date, follows and follower -->
  <%= render partial: 'devise/registrations/user-info', locals: {user: @user} %>

  <div class="content-container">
    <div class="content-navigation">

      <!-- Show content tabs: posts, likes, comments -->
      <% @navigation_tabs.each do |tab_data| %>
        <%= link_to tab_data["route"], class: ["tab-container", tab_data["active"] ? "active-tab" : "" ] do %>
          <div class="tab">
            <p><%= tab_data["text"] %></p>
            <% if tab_data["active"] %>
            <div class="indicator"></div>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>

    <!-- Show content of column -->
    <div class="post-container">
      <% if @tab == "posts" %>

        <% if @posts_and_shared.any? %>
          <% @posts_and_shared.each do |element| %>
            <%if element.class == Post %>
              <%= render partial: 'posts/post-simple', 
              locals: {
                view: nil, 
                post: element,
                is_parent_of_comment: false} %>

            <% else %>
              <%= render partial: 'shared_posts/shared_post', locals: {view: nil, repost: element} %>
            <% end %>
          <% end %>
          
        <% else %>
          <p class="no-content-label">No posts</p>
        <% end %>
      <% end %>

      <% if @tab == "likes" %>
        <% if @user.liked_posts.any? %>

          <%= render partial: "posts/post-simple",
            collection: @user.liked_posts.where(deleted: false), as: :post,
            locals: { 
              view: nil,
              is_parent_of_comment: false } %>

        <% else %>
          <p class="no-content-label">No liked posts</p>
        <% end %>
      <% end %>

      <% if @tab == "comments" %>
        <% if @user.comments.any? %>

          <%= render partial: "posts/post-simple", 
            collection: @user.comments.where(deleted: false), as: :post, 
            locals: {
              view: nil, 
              is_parent_of_comment: false } %>

        <% else %>
          <p class="no-content-label">No comments</p>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Show user edit modal -->
  <%= turbo_frame_tag "embedded"  %>
</div>
