<div class="profile-view">

  <% if @user_profile.user.present? %>

    <%= render partial: 'users/profile-images' %>

    <!-- Show user info: name, username, bio, join date, follows and follower -->
    <%= render partial: 'devise/registrations/user-info' %>
    
    <!-- show user navigation tabs -->
    <%= render partial: 'users/profile-tabs' %>

    <!-- Show content of column -->
    <div class="post-container">

      <!-- posts and shares columns  -->
      <% if @user_profile.tab == "posts" %>
        <% if @user_profile.posts.any? %>
        
          <%= turbo_frame_tag 'profile_posts_list' do %>
            <%= render partial: 'users/profile-posts-list' %>
          <% end %>

        <% else %>
          <p class="no-content-label">No posts</p>
        <% end %>
      <% end %>


      <!-- likes columns -->
      <% if @user_profile.tab == "likes" %>
        <% if @user_profile.liked_posts.any? %>

          <%= turbo_frame_tag 'profile_liked_posts_list' do %>
            <%= render partial: 'users/profile-liked-posts-list' %>
          <% end %>

          <% else %>
            <p class="no-content-label">No liked posts</p>
          <% end %>
        <% end %>


      <!-- comments columns  -->
      <% if @user_profile.tab == "comments" %>
        <% if @user_profile.comments.any? %>

          <%= turbo_frame_tag 'profile_comments_list' do %>
            <%= render partial: 'users/profile-comments-list' %>
          <% end %>

        <% else %>
          <p class="no-content-label">No comments</p>
        <% end %>
      <% end %>

    </div>

  <% else %> <!-- no user -->

    <%= render partial: 'users/profile-images' %>
    <div class="info-container">
      <h2>User doesn't exists</h2>
    </div>

  <% end %>

  <!-- Show user edit modal -->
  <%= turbo_frame_tag "embedded"  %>
</div>
