<div class="profile-view">

  <% if @user.present? %>

    <%= render partial: 'users/profile-images' %>
    
    <!-- Show user info: name, username, bio, join date, follows and follower -->
    <%= render partial: 'devise/registrations/user-info', locals: {user: @user} %>

    <div class="content-container">
      <%= render partial: 'users/profile-tabs', locals: { navigation_tabs: @navigation_tabs } %>
    <!-- Show content of column -->
    <div class="post-container">
      <% if @tab == "posts" %>
        <% if @posts_and_shared.any? %>
          <% @posts_and_shared.each do |element| %>
            <%if element.class == Post %>
              <%= render partial: 'posts/post-simple', 
                locals: {
                  view: nil, 
                  post: element,
                  is_parent_of_comment: false} %>

            <% else %>
              <%= render partial: 'shared_posts/shared_post', locals: {view: nil, repost: element} %>
            <% end %>
          <% end %>
        <% else %>
          <p class="no-content-label">No posts</p>
        <% end %>

        <% if @tab == "likes" %>
          <% if @user.liked_posts.any? %>

            <%= render partial: "posts/post-simple",
              collection: @user.liked_posts.where(deleted: false), as: :post,
              locals: { 
                view: nil,
                is_parent_of_comment: false } %>

          <% else %>
            <p class="no-content-label">No liked posts</p>
          <% end %>
        <% end %>

        <% if @tab == "comments" %>
          <% if @user.comments.any? %>

            <%= render partial: "posts/post-simple", 
              collection: @user.comments.where(deleted: false), as: :post, 
              locals: {
                view: nil, 
                is_parent_of_comment: false } %>

          <% else %>
            <p class="no-content-label">No comments</p>
          <% end %>
        <% end %>
      </div>
    </div>

  <% else %>

    <%= render partial: 'users/profile-images' %>
    <d class="info-container">
      <h2>User doesn't exists</h2>
    </d>

  <% end %>

  <!-- Show user edit modal -->
  <%= turbo_frame_tag "embedded"  %>
</div>
