<%= turbo_frame_tag "form_new_post" do %>

  <%= form_with model: post, url: posts_path, remote: true, data: {turbo_method: :post} do |form| %>

    <% if post.parent.present? %> 
      <%= form.hidden_field :parent_id, value: post.parent_id %>
    <% end %>

    <div class="form-new-post" data-controller="form-new-post">

      <div class="new-post-left">
        <% if current_user.avatar.attached? %>
          <%= image_tag(current_user.avatar, class: "post-user-avatar") %>
        <% else %>
          <%= image_tag("", class: "post-user-avatar") %>
        <% end%>
      </div>

      <div class="new-post-right">

        <%= render partial: "posts/new/form_content",
          locals: {
            form: form,
            is_parent_of_comment: defined?(is_parent_of_comment) && is_parent_of_comment } %>

        <%= render partial: "posts/new/form_bottom_actions",
          locals: {
            form: form,
            post: post,
            is_current_post: defined?(is_current_post) && is_current_post } %>

      </div>
      
    </div>

  <% end %>  

<% end %>
