<%= form_with model: post, url: posts_path, method: 'post' do |form| %>

  <% if post.parent.present? %> 
    <%= form.hidden_field :parent_id, value: post.parent_id %>
  <% end %>

  <div class="form-new-post" data-controller="form-new-post">

    <div class="new-post-left">
      <% if current_user.avatar.attached? %>
        <%= image_tag(current_user.avatar, class: "post-user-avatar") %>
      <% else %>
        <%= image_tag("", class: "post-user-avatar") %>
      <% end%>
    </div>

    <div class="new-post-right">

      <%= render partial: "posts/new/form_content" , locals: { form: form } %>

      <%= render partial: "posts/new/form_bottom_actions" , locals: { form: form } %>

    </div>
    
  </div>

<% end %>  
