<div class="signup-view-container">
  <div class="form">

    <%= link_to "X", root_path, class: "form-close-button" %>

    <h2 class="form-title">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input-form input-neutral" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-form input-neutral"%>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "submit-button forgot_password_button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>