<li>
  <div class="metadata">
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar, class: "post-user-avatar" %>
    <% end %>
    <div>
      <div class="metadata-user-verified">
        <%= link_to user.name, user, class: "post-user-name" %>
        <%= render partial: "components/verified", locals: { verified: user.verified} %>
      </div>

      <p class="post-user-username">@<%= user.username %></p>
    </div>

  </div>

  <% if current_user != user %>
    <%= render partial: "follows/follow", locals: { following_user: user } %>
  <% end %>

</li>
