<div class="login-view">
  <div class="login-modal-form">
    <div class="header">
      <%= link_to root_path, class: "close-button" do %>
        <i class="fas fa-times"></i>
        <% end %>
          <h2>Towtg</h2>
    </div>

    <div class="body-wraper">
      <div class="body">
        <h2 class="title">Sign in to Towgt</h2>
  
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <% if flash[:alert] %>
              <%= f.email_field :email, autofocus: true , autocomplete: "email",class: "input-form input-error" %>
            <% else %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "input-form input-neutral" %>
            <% end%>
            </div>    
  
          <div class="field">
            <%= f.label :password %>
            <% if flash[:alert] %>
              <%= f.password_field :password, autocomplete: "current-password" , class: "input-form input-error" %>
            <% else %>
              <%= f.password_field :password, autocomplete: "current-password" , class: "input-form input-neutral" %>
            <% end%>
          </div>
  
          
  
          <% if flash[:alert] %>
            <div class="error-message">
              <%= flash[:alert] %>
            </div>
          <% end %>
  
          <div class="buttons-container">
            <div class="actions">
              <%= f.submit "Next" , class: "submit" %>
            </div>
    
            <div class="button-block button-outline text-white mb-3">
              <%= link_to "Forgot your password?" , new_password_path(resource_name) %>
            </div>
          </div>
  
          <div class="links">
            <p>
              Dont't have an account? 
                <%= link_to "Sign Up" , new_registration_path(resource_name) %>
            </p>
  
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>