<div class="signup-view-container">

  <div class="form">
    
    <%= link_to "X", new_registration_path(resource_name), class: "form-close-button" %>

    <h2 class="form-title">Log in</h2>
    
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= 
          f.email_field :email, 
          autofocus: true, 
          autocomplete: "email",
          class: "input-form input-neutral"
        %>
      </div>
    
      <div class="field">
        <%= f.label :password %>
        <%= 
          f.password_field :password, 
          autocomplete: "current-password",
          class: "input-form input-neutral"
        %>
      </div>
      
      <div class="actions">
        <%= f.submit "Next", class: "submit-button" %>
      </div>
    <% end %>
    
  </div>

</div>
