<div class="post <%= !is_parent_of_comment && "border-post" %> parent-post-container">

  <%= render partial: "posts/simple-post-left", locals: { post: post , from_parent: true } %>

  <div class="parent-post-right">

    <% locals_metadata = { 
      post: post, 
      is_current_post: false, 
      is_parent_of_comment: is_parent_of_comment,
      view: :show 
    } %>
    <%= render partial: "posts/components/metadata" , locals: locals_metadata %>    

    <%= render partial: "posts/components/content" , locals: { post: post }%>

    <% if is_parent_of_comment %>
      <div>
        Replying to
        <%= link_to("") do %>
          @<%= post.user.username %>
        <% end %>
      </div>
    <% else %>
      <%= render partial: "posts/components/actions" , locals: { post: post }%>
    <% end %>

  </div>

</div>

