<div class="post">
  <div class="post-header">
    <div class="post-user-avatar">
      <% if post.user.avatar.attached? %>
        <%= image_tag post.user.avatar, class: "post-user-avatar" %>
      <% end %>
    </div>
    <div class="post-meta">
      <p class="post-user-name"><%= post.user.name %></p>
      <p class="post-user-username"><%= post.user.username %></p>
    </div>
    <div class='post-delete'>
      <%= link_to "x", post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
  <div class="post-content">
    <p><%= post.content %></p>
    <% if post.images.attached? %>
      <%= image_tag post.images.first, class: "post-image" %>
    <% end %>
  </div>


  <div class="post-actions post-meta">
    <% if view == :index %>
      <%= format_time_ago(post.created_at) %>
    <% else %>
      <%= post.created_at.strftime("%-I:%M %p · %-d %b. %Y") %>
    <% end %>
  </div>

  <hr />

  <div class="post-actions">
    <a href="#">Like</a>
    <a href="#">Repost</a>
    <%= link_to "Comments", new_post_path(parent_id: post.id), data: { turbo_frame: "comment" } %>
  </div>
</div>
