<%= turbo_frame_tag "frame_#{dom_id(post)}" do %>

  <div class="post border-post parent-post-container bg-post">

    <%= link_to post, data: { turbo: false }, class: "post-link" do %><% end %>

    <% if post.user %>
      
      <%= render partial: "posts/simple-post-left",
      locals: { post: post, is_parent_of_comment: is_parent_of_comment } %>

      <div class="parent-post-right">     

        <!-- Name, Username, Date -->
        <%= render partial: "posts/components/metadata",
          locals: { post: post, is_current_post: false, is_parent_of_comment: is_parent_of_comment, view: view } %>

        <%= render partial: "posts/components/replying-sign", locals: { parent: post.parent, view: view } %>
  	    <%= render partial: "posts/components/content" , locals: { post: post }%>
  	    <%= render partial: "posts/components/actions",
          locals: { post: post, action_prefix: dom_id(post) }%>
  		</div>

		<% elsif post.deleted_user %>
		  This post is not available anymore
		<% end %>

	</div>

<% end %>
