<div class="post">
  <div class="post-header">
    <div class="post-user-avatar">
      <% if post.user.avatar.attached? %>
        <%= image_tag post.user.avatar, class: "post-user-avatar" %>
      <% end %>
    </div>

    <div class="post-meta">
      <strong><%= post.user.name %></strong> 
      <p>
        @<%= post.user.username %>
      </p>
      <div class="post-date">
        <% if view == :index %>
          - <%= format_time_ago(post.created_at) %>
        <% end %>
      </div>
    </div>


    <div class='post-delete'>
      <%= link_to "x", post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>

  <div class="post-content">
    <p><%= post.content %></p>
    <% if post.images.attached? %>
      <%= image_tag post.images.first, class: "post-image" %>
    <% end %>
  </div>

  <div class="post-date">
    <% if view == :show %>
      <%= post.created_at.strftime("%-I:%M %p · %-d %b. %Y") %>
    <% end %>
  </div>

  <hr />

  <div class="post-actions">
    <%= link_to "Comments", post_path(post) %>
    <a href="#">Repost</a>
    <%= render partial: 'likes/like', locals: { post: post } %>
  </div>
</div>
