<%= turbo_frame_tag post do %>
    
  <div class="post border-post current-post">

    <% if post.user %>

    <div class="post-header">

      <% if post.parent.present? && !post.parent.deleted %>
        <div class="thread-line-container">
          <div class="thread-line"></div>
        </div>
      <% end %>

      <%= render partial: "posts/components/avatar", locals: { avatar: post.user.avatar }%>
      <%= render partial: "posts/components/metadata",
        locals: { 
          post: post, 
          is_current_post: is_current_post, 
          is_parent_of_comment: false, 
          view: view } %>
    </div>

      <%= render partial: "posts/components/content" , locals: { post: post }%>

    	<div class="post-time-bottom post-meta">
    	  <% if view==:index %>
    	    <%= format_time_ago(post.created_at) %>
    	  <% else %>
    	    <%= post.created_at.strftime("%-I:%M %p · %-d %b. %Y") %>
    	  <% end %>
    	</div>

    	<hr />
    	<%= render partial: "posts/components/actions" , locals: { post: post }%>

    <% elsif post.deleted_user %>
      This post is not available anymore
    <% end %>

  </div>

<% end %>
