<!DOCTYPE html>
<html>
  <head>
    <title>Towgt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-full">

    <%= render partial: "components/side-bar" %>

      <div class="container border-left">

        <div class="header-container ">
          <div class="header border-right border-bottom ">
            <%= render "components/header-title" %>
          </div>
          <% unless request.path == search_index_path %>
            <%= render "search/components/search-form" %>
          <% end %>
        </div>

        <div class="content-column">
          
          <div class="main-column border-right">
            <%= yield %>
          </div>

          <div class="secondary-column">
            
            <%= render partial: "users/follow-suggestions" %>

          </div>

        </div>

        <%= render partial: 'components/side-bar-mobile' %>

      </div>

    </div>
    <%= turbo_frame_tag "flash_message" %>
    <%= turbo_frame_tag "comment_modal" %>
  </body>
</html>
